.header{
    background: linear-gradient(to right, #880101,#7e0000,#3d3d3d );
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    font-size: 60px;
    color:rgb(255, 255, 255);
    font-family: 'Staatliches';
    font-size: 100px;
    letter-spacing: 6px;
}

.dropdown .btn-primary {
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 40px;
    margin-top: -30px;
    letter-spacing: 4px;
}