/* Header Banner and Navigation */

.header{
    background: linear-gradient(to right, #880101,#7e0000,#0401a5 );
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    font-size: 60px;
    color:rgb(255, 255, 255);
    font-family: 'Staatliches';
    font-size: 100px;
    letter-spacing: 6px;
    border-bottom: 8px solid black;
    border-top: 8px solid black;
}

.dropdown .btn-primary {
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 40px;
    margin-top: -30px;
    letter-spacing: 4px;
}

/* About Page */

.aboutheader{
    padding-left: 180px;
    padding-top: 40px;
}

.maxprofile{
    max-height: 1000px;
    padding-bottom: 300px;
    padding-right: 100px;
    padding-top:50px;
}

.aboutus{
    font-size: 20px;
    font-weight: 800;
    padding-left: 100px;
    padding-top:50px;
}

/* About Page Carousel Controls */
.piccarousel{
    max-width: 800px;
    max-height: 300px;
    margin: 0 auto;
}


.carousel-control-prev {
    background-color: #000000;
  }

.carousel-control-prev,
.carousel-control-next {
    background-color: #292828;
    border: 10px; 
    color: #ffffff;
    width: 50px;
    height: 500px;
}

.fixed-size-carousel {
    width: 600px; 
    height: 400px; 
}

.carousel-image {
    width: 200px;
    height: 500px; 
    object-fit: cover; 
}