/* Header Banner */

.header{
    background: linear-gradient(to right, #880101,#7e0000,#3d3d3d );
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 30px;
    font-size: 60px;
    color:rgb(255, 255, 255);
    font-family: 'Staatliches';
    font-size: 100px;
    letter-spacing: 6px;
}

.dropdown .btn-primary {
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-size: 40px;
    margin-top: -30px;
    letter-spacing: 4px;
}



/* Gallery for About Page */

.gallery-container {
    width: 75%;
    margin:0 auto;
    overflow-x: auto;
    
    
  }
  
.gallery {
    display: flex;
    flex-direction: row; 
  }
  
.galleryimage {
    width: 100%;
    height: auto;
    margin-right: 20px; 
  }



/* About us Section */

.aboutheader{
    padding-left: 180px;
    padding-top: 40px;
}

.maxprofile{
    max-height: 1000px;
    padding-bottom: 300px;
    padding-right: 100px;
    padding-top:50px;
}

.aboutus{
    font-size: 20px;
    font-weight: 800;
    padding-left: 100px;
    padding-top:50px;
}